html, body{
    background-color: whitesmoke;
    height: 100%;
}

/* Top filters*/
.navbar-filters{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 10%;
    border-bottom: lightgrey 2px solid;
}

.navbar-filters .city-filters{

}

.city-filters .city-button{
    margin: 0 5px 0;
    background-color: white;
    padding: 10px 30px 10px;
    border-radius: 5px;
    border-color: white;
}

.city-button:hover{
    box-shadow: 0 2px 15px -3px greenyellow;
}

/*All except filters*/
.content-row {
    height: 90%
}


.map-wrapper {
    padding: 10px 0 10px;
    width: 100%;
    height: 100%;
}

.map-wrapper .map{
    width: inherit;
    height: inherit;
}

.advert-list{
    padding: 5px;
    list-style: none;
}

.advert-list-row{
    padding: 10px;
    margin: 10px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
}

.advert-list-row:hover{
    box-shadow: 0 2px 20px -3px greenyellow;
}

.advert-list-row-title{
    height: 40%;
    padding: 5px 5px 0;
    /*border: 2px solid greenyellow;*/
    display: flex;
}

.advert-list-row-title .advert-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: large;
    /*border: 2px solid red;*/
}

.advert-list-row-address{
    padding-left: 5px;
    height: 20%;
}

.advert-list-row-address .advert-address{
    /*border: 2px solid yellow;*/
    font-style: italic;
    font-size: medium;
}

.advert-list-row-info{
    padding: 5px;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advert-list-row-info .advert-price{
    color: lightgreen;
}

.advert-list-row-info .advert-date{
    font-size: small;
}


/* Filters, Adverts, Map*/
.page-body {
    height: 90%;
}

footer{
    border-top: lightgrey 1px solid;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    padding: 15px;
    font-size: small;
}
