{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load adverts_tags %}

{% block content %}

    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-8 ">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">

                      {% for photo in images %}
                          <div class="item {% if photo.thumbnail %}{{ "active"|default:"" }}{% endif %}">
                              <img src="{{ photo.image.url }}" alt="Zdjęcie nie dostępne" class="img-responsive" style="height: 440px; width: auto;">
                              <div class="carousel-caption">
{#                                Testowa fotka#}
                              </div>
                        </div>
                      {% endfor %}

                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="panel panel-primary">
                      <div class="panel-heading">{{ advert.title }}</div>
                      <div class="panel-body">
                        {{ advert.description|linebreaks|safe }}
                      </div>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-bordered">
                    <colgroup>
                        <col class="col-xs-1">
                        <col class="col-xs-7">
                    </colgroup>
                    <thead>
                        <tr class="active">
                            <th>Wyposażenie</th>
                            <th>Stan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active">
                            <th scope="row">
                                Lokalizacja
                            </th>
                            <td>
                                {{ advert.location }}
                            </td>
                        </tr>
                        <tr class="active">
                                <th scope="row">
                                    Cena
                                </th>
                                <td>
                                    {{ advert.price|intcomma }}zł
                                </td>
                            </tr>
                            {% get_advert_details details %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    <footer>
        <hr>
    </footer>
    </div>

{% endblock %}