{% extends 'base.html' %}

{% block content %}
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-8">
                <iframe width="600" height="450" scrolling="no" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJdYLH9MPaFkcR1WKaePLhPM0&key=AIzaSyDOI1GrJglpUROVUPsoO-PDVWpgzyRtwxw" allowfullscreen></iframe>
            </div>

            <div class="col-md-4" style="font-size: 22px;">
                <h1>Dane kontaktowe</h1>
                <hr class="form-hr">
                <address>
                    <strong>Biuro Nieruchomości </strong><br>
                    Ulica, numer budynku<br>
                    00-000 Miasto<br>
                    Lokal (X piętro)<br>
                    <br>
                    <abbr title="Email">E-mail:</abbr> tester@gmail.comix
                    <br>
                    <abbr title="Telefon">Tel:</abbr> 123 456 789
                </address>
            </div>
        </div>
    </div>
{% endblock %}
