{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load advert_tags %}


{% block navbar %}
    {% include 'logo.html' %}
    {% include 'navbar_actions.html' with breadcrumbs="homepage" %}
{% endblock %}

{% block content %}
<div class="col-6" id="advert-list-column">
    <div class="row" style="height: 10%">
        <div class="col">
            <div class="city-filters">
                {% for location in locations %}
                    <a class="button city-button" href="{% url 'homepage_with_code' location.code|lower %}">{{ location.city.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row" style="height: 90%">
        <div class="col">
            <ul class="advert-list">
                {% for advert in adverts %}
                    <li class="advert-list-row" data-index="{{ forloop.counter0 }}">
                        <div class="advert-list-row-title">
                            <span class="advert-title">{{ advert.title }}</span>
                        </div>
                        <div class="advert-list-row-address">
                            <span class="advert-address">{{ advert.address }}</span>
                        </div>
                        <div class="advert-list-row-info">
                            <div>
                                <span class="advert-price">{{ advert.price|floatformat|intcomma }}zł</span>
                                <span class="advert-icon"><i class="fas fa-home"></i></span>
                            </div>
                            <div>
                                <span class="advert-date">{{ advert.created_at|display_date }}</span>
                            </div>
                        </div>

                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="col-6" id="map-column">
    <div class="map-wrapper">
        <div class="map" id="mapid"></div>
    </div>
</div>
{% endblock %}
